#filePicker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f141a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  color: white;
  transition: transform .2s;
  transform: translateY(50px);

  > img {
    width: 28px;
    height: 28px;
  }

  > input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.showFilePicker {
  transform: translateY(0px) !important;
}
