.popoverTag {
  align-self: flex-start;
  background-color: #161d24;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  word-wrap: break-word;

  &:hover {
    background-color: #fff;

    .popoverTagText {
      color: #000;
    }
  }

  .popoverTagText {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .inactivePopoverTagText {
    color: #404a5b;
  }
}

.popoverSelectedTag {
  background-color: #fff;

  .popoverTagText {
    color: #000;
  }
}
