@import "~qs-assets/Colors";

#EditProductHeader {
  color: white;
  background-color: #0f141a;

  .editProductContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    .leftContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 25px;

      .selectAll {
        color: white;
        cursor: pointer;

        &:hover {
          color: $header-color;
        }
      }

      .checkboxContainer {
        margin-right: 20px;
      }
    }

    .rightContainer {
      padding-right: 25px;

      .deleteIconContainer {
        .deleteIcon {
          fill: white;
          width: 20px;
          height: 20px;

          &:hover {
            fill: $header-color;
            cursor: pointer;
          }
        }
      }

      .back {
        text-transform: uppercase;
        font-size: 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
