#PrivateNoteContainer {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;

  .loaderContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .privateNoteHeading {
    margin-bottom: 10px;
  }

  .marginRight {
    padding-right: 100px;
  }

  .privateNotes {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 22px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .privateNoteBulkSaveButton {
    position: absolute;
    top: 50px;
    right: 5px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: #131a23;
    line-height: 16px;

    &:hover {
      border: 1.5px solid #131a23;
      //top: 22px;
      //right: 15px;
      cursor: pointer;
    }

    &:active {
      background-color: #131a23;
      color: #fff;
    }
  }
}
