@import "~qs-assets/Colors";

#ProductHeaderWrapper {
  #ProductHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0f141a;
    padding: 0px 12px;
    width: 95%;
    border-radius: 0px;
  }

  .iconContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .productHeaderIconContainer {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      .productHeaderIcon {
        fill: $header-color;
      }
      .label {
        display: block;
      }
    }
  }

  .productHeaderIcon {
    width: 20px;
    height: 20px;
    fill: $primary-color;
    margin-right: 8px;
  }

  .settingsIcon {
    width: 22px;
    height: 22px;
  }

  .label {
    text-transform: uppercase;
    color: $header-color;
    display: none;
    font-size: 15px;
  }
}
