#mainAppContainer {
  display: flex;
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    #screenContainer {
      display: flex;
      flex-direction: row;
      flex: 1;
      //margin-left: 60px;
    }
  }
}
