@import "../../../Assets/Colors";

#CatalogueListScreen {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000000;
  position: relative;
  background-color: $catalogue-screen-background;
  width: 33%;
}
