#BottomSheetBulkEditingHeader {
  display: flex;
  align-self: center;
  letter-spacing: 2px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
