#NoProductListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: #384759;
  font-size: 20px;
  padding: 0px 15px;

  .uploadButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    font-size: 17px;

    .buttonContainer {
      display: flex;
      flex-direction: row;
      align-self: center;
      background-color: #0E1319;
      padding: 15px;
      border-radius: 5px;
      color: white;
      margin-bottom: 15px;
      justify-content: center;
      align-items: center;
      position: relative;

      .uploadFromFile {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }

    .fromFiles {
      &:hover {
        cursor: pointer;
      }
    }

    .fromExcel {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
