.catalogueTagsPopoverContainer {
  max-height: 100vh;

  .catalogueTagsPopover {
    padding: 20px;
    width: 240px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(-180deg, #394758 0%, #2c3543 100%);
    box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    .popoverTagsList {

      .popoverTagHeader {
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .popoverTagHeaderLeft {
          .popoverTagHeaderTitle {
            font-size: 16px;
            font-weight: 700;
            color: #fff;
          }

          .popoverTagHeaderSubtitle {
            margin-top: 5px;
            font-size: 14px;
            color: #fff;
            font-weight: 300;
          }
        }

        .popoverTagHeaderRight {
          .closeButton {
            background-color: #293544;
            padding: 4px;
            border-radius: 50%;

            &:hover {
              background-color: #fff;
            }

            .closeButtonIcon {
              width: 16px;
              height: 16px;
              margin-bottom: -2px;
            }
          }
        }
      }

      .popoverTagSeparator {
        height: 10px;
      }
    }
  }
}
