#generatingLink {
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  bottom: 3px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

#linkWrapper {
  border: 1px dashed #4da47a;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  max-width: 360px;
  text-align: center;
  margin: 0px 20px 20px 20px;

  &:hover {

    border: 1px solid #4da47a;

    .tapToCopy {
      color: #4da47a;
    }
  }

  .linkContainer {
    color: black;
    margin-bottom: 12px;
  }

  .linkCopied {
    color: #4da47a !important;
  }

  .tapToCopy {
    color: #cccccc;
  }
}
