@import "~qs-assets/Colors";

#ProductPictures {
  > div {}
  .picturesWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

    .picturesLoadingContainer {
      min-height: 50px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .picturesContainer {
      display: flex;
      flex: 1;
      flex-direction: row;
      overflow-x: scroll;

      > div {
        display: flex;
        flex: 1;
        position: relative;

        .pictureImageContainer {
          position: relative;

          .picturesLoader {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin-left: -6px;
            margin-top: -1px;
          }

        }
      }
    }
  }

  .notPrepared {
    border: 1px dashed black;
  }

  .pictures {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  .selectedPicture {
    border: 1px dashed green !important;
  }

  .picturesAspectRatio {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px dashed black;
  }

  .addNewPictures {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 0px !important;
    margin-left: 10px;
    position: relative;

    .uploadIcon {
      width: 30px;
      height: 30px;
      fill: #4da479;
    }

    .filePicker {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
