.drawerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: calc(100vh - 55px);
  padding-top: 55px;
  background-color: #101419;

   /*width: 160px;*/
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  border-right: 1px solid #343A42;
  overflow: hidden;
}

.drawerContainer .catalogueContainer:hover {
  background-color: #000;
}

.catalogueContainer .catalogueOptions {
  margin-left: 5px;
}

.drawerContainer .inquiryContainer:hover {
  background-color: #000;
}

.drawerContainer .sideNavRowContainer {
  display: flex;
  flex: 1;
  border: 0px;
  flex-direction: row;
  background-color: transparent;
  border-bottom: 1px solid #343A42;
  justify-content: center;
  align-items: center;
  width: 200px; /* drawer width */
}

.drawerContainer .sideNavRowContainer:focus {
  outline: none;
}

.drawerContainer .sideNavRowContainer:hover {
  cursor: pointer;
}

.sideNavRowContainer .catalogueIconSelected {
  background-color: #3c3c3c;
}

.sideNavRowContainer .iconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sideNavRowContainer .accountSettingsOption {
  margin-left: 5px;
}

.sideNavRowContainer .optionName {
  display: flex;
  flex: 1;
  color: white;
  justify-content: flex-start;
  align-items: center;
  margin-top: -3px;
  font-size: 16px;
}

.iconContainer .drawerIcon {
  width: 22px;
  height: 22px;
  margin: 10px 8px;
}

.inquiryContainer .iconContainer {
  position: relative;
}

.inquiryIcon .unreadInquiryBadge {
  background-color: #CD4040;
  border-radius: 56%;
  position: absolute;
  top: 6px;
  right: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  padding-bottom: 2px;
}

.hideOptionNames {
  opacity: 0;
  /* opacity: 1; */
}

.inquiryContainer .inquiryOption {
  margin-left: 5px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
