@import "~qs-assets/Colors";

#NoCatalogueFound {
  display: flex;
  flex: 1;
  background-color: $catalogue-screen-background;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}
