@import "~qs-assets/Colors.scss";

#EditCatalogueHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  background-color: #0f141a;
  color: $primary-color;

  .selectAllContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .title {
      margin-left: 10px;
    }
  }

  .rightContainer {
    .back {
      color: $primary-color;

      &:hover {
        cursor: pointer;
      }
    }

    #deleteIcon {
      width: 20px;
      height: 20px;
      fill: $primary-color !important;

      &:hover {
        fill: $header-color !important;
        cursor: pointer;
      }
    }
  }
}
