.input-common-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > :nth-child(2) {
    margin-left: 10px;
  }

  &.input-seperator {
    margin-top: 10px;
  }

  &.input--error * {
    color: red !important;
  }

  .input--error-msg {
    font-size: 1rem;
  }

  .input-element-container {
    flex-grow: 1;

    .input-element {
      font: inherit;
      width: 100%;
    }

    .input-bottom-border {
      margin: 5px 0px;
      border-style: solid;
      border-width: 0px;
      border-bottom-width: 1px;
    }
  }
}
