@import "~qs-assets/Colors";

#EmptyCatalogueList {
  background-color: $catalogue-screen-background;
  color: $primary-color;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
}
