#SkeletonCatalogueContainer {
  display: flex;
  height: 100%;

  #SkeletonCatalogue {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

    .catalogueProductsContainer {
      position: relative;
      width: 73px;
      height: 73px;
      margin-right: 22px;
    }

    .titleContainer {
      display: flex;
      border-bottom: 1px solid white;
      margin-right: 30px;
      height: 25px;


      .title {
        display: flex;
        width: 55%;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: white;
        font-size: 20px;
        font-weight: 600;

        &::placeholder {
          color: #424f61
        }
      }
    }

    .saveContainer {
      border: 1px solid white;
      padding: 5px 10px;
      color: white;
      display: flex;
      align-self: center;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
