.accountSettingsMainContainer {
  display: flex;
  flex: 1;

  .settingsList {
    width: 300px;
    background-color: #101419;
    padding-top: 20px;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    .singleRow {
      color: white;
      padding: 20px 0px;
      margin: 0px 27px;
    }

    .appVersion {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #586577;
      font-size: 12px;
    }
  }

  .settingsContainer {
    background-color: #242C36;
    padding: 40px;
    width: 100%;
    height: 100%;

    .rowContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .rowContent {
        .rowHeader {
          color: white;
          margin-bottom: 8px;
          font-size: 17px;
        }
        .rowDescription {
          color: #9CAABD;
        }
      }
    }

    .rowActionButton {
      margin-right: 30px;
    }
  }
}
