#UserDetails {
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
  z-index: 10;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: 0 0 5px 1px rgba(170,164,164,.5);
  box-shadow: 0 0 5px 1px rgba(170,164,164,.5);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  overflow: hidden;

  .rowContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
    color: black;
    padding: 15px 20px;

    .title {
      font-size: 14px;
      font-weight: 300;
    }

    .titleValue {
      font-size: 14px;
      margin-top: 5px;
      font-weight: 600;
    }
  }

  .namesContainer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    > div {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      justify-content: center;
      align-items: flex-end;

      .userName {
        font-size: 18px;
      }

      .companyName {
        font-size: 14px;
      }
    }

    .closeIcon {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      fill: black;

      &:hover {
        cursor: pointer;
        fill: rgba(0,0,0,0.8);
      }
    }
  }

  #logout {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background: #d22828;
    color: #fff;
    padding: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
