.productPriceModalContainer {
  display: flex;
  flex-direction: column;
  width: 395px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  align-self: center;

  .titleContainer {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 22px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .optionsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    padding: 0px 25px;

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #4da47a;
      /* color: #000; */
      color: #4da47a;
      border-radius: 50px;
      font-size: 14px;
      white-space: nowrap;
      padding: 6px 14px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background-color: #4da47a;
        color: white;
      }
    }
  }

  .selectedOption {
    background-color: #4da47a;
    color: white !important;
  }

  .rangeWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 16px;

    .rangeContainer {
      display: flex;
      flex: 1;
      flex-direction: row;
      border: 1px solid #59c18f;
      border-radius: 5px;
      padding: 8px;
      margin-right: 10px;

      .currencyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        margin-top: 3px;
      }

      .rangeInput::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }
      .rangeInput:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }

      .rangeInput::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }

      .rangeInput:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }

      .rangeInput::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }

      .rangeInput::placeholder {
        /* Most modern browsers support this now. */
        color: #ccc;
      }
    }

    .rangeTo {
      color: black;
      margin-right: 10px;
    }

    .rangeInput {
      display: flex;
      flex: 10;
      flex-direction: row;
      font-size: 16px;
      width: 20%;
      height: 20px;
      background-color: transparent;
    }
  }

  .priceContainer {
    display: flex;
    flex: 1;
    width: 82%;
    flex-direction: row;
    color: black;
    border: 1px solid #59c18f;
    border-radius: 5px;
    padding: 10.5px 8px;
    margin-top: 14px;
    margin-left: 25px;

    .currencyContainer {
      display: flex;
      color: black;
      margin-right: 10px;
      margin-top: 2px;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }

    .inputPrice {
      display: flex;
      font-size: 16px;
      background-color: transparent;
      margin-top: -1px;
      flex: 1;

      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }

      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }
      &::placeholder {
        /* Most modern browsers support this now. */
        color: #ccc;
      }
    }
  }

  .disableButton {
    color: red !important;
  }

  .applyFilterContainer {
    position: relative;
    color: #4da47a;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      color: #36805c;
    }

    .applyFilter {
      position: absolute;
      bottom: 0;
      right: 25px;
      font-size: 14px;
      letter-spacing: 1px;
    }

  }

}
