.mainInventoryContainer {
  padding-top: 30px;
  color: black;
  min-height: 400px;

  .inventoryHeader {
    font-weight: bold;
    font-size: 15px;
  }

  .stockAvailabilityContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .header {
      margin-bottom: 10px;
    }
    .options {
      display: flex;
      flex-direction: row;

      .stockLoader {
        min-height: 56px;
        display: flex;
        justify-content: center;
        flex: 1;
      }

      .trackQuantityLoader {
        min-height: 56px;
        display: flex;
        justify-content: center;
        flex: 1;
      }

      .outOfStockContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b71c1c;
        color: #b71c1c;
        margin-right: 10px;
        padding: 10px 15px;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .OOSselected {
        background-color: #b71c1c;
        color: white;
      }

      .availableContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #4da47a;
        color: #4da47a;
        margin-right: 10px;
        padding: 10px 15px;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 15px;

        &:hover {
          cursor: pointer;
        }
      }
      .availableSelected {
        background-color: #4da47a;
        color: white;
      }
    }
  }

  .availableQuantityContainer {
    margin-bottom: 20px;

    .header {
      margin-bottom: 10px;
    }

    .insertQunatityContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 12px;

      .minusContainer {
        border: 1px solid #b71c1c;
        color: #b71c1c;
        width: 45px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin-right: 10px;
        border-radius: 3px;
        padding-bottom: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      .quantityInputContainer {
        border: 1px solid #4da47a;
        width: 55px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 3px;

        .quantityContainer {
          background-color: transparent;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 17px;
          padding-left: 11px;
        }
      }

      .plusContainer {
        border: 1px solid #4da47a;
        color: #4da47a;
        width: 45px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-right: 10px;
        border-radius: 3px;
        padding-bottom: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .trackInventoryButtonContainer {
      display: flex;

      .trackInventoryButton {
        display: flex;
        border: 1px solid #4da47a;
        color: #4da47a;
        align-self: flex-start;
        padding: 9px 15px;
        font-size: 16px;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .dontTrackQuantityContainer {
      display: flex;

      .dontTrackQuantity {
        font-size: 14px;
        border-bottom: 1px solid #3a0090;
        color: #3a0090;
        display: flex;
        align-self: flex-start;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .autoReduceInventoryContainer {
    margin-bottom: 24px;

    .header {
      margin-bottom: 10px;
      font-weight: bold;
    }

    .descriptionContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }

      .description {
        width: 70%;
      }
    }
  }

  .stockVisibilityContainer {
    margin-bottom: 22px;

    .header {
      margin-bottom: 10px;
    }
    .descriptionContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .description {
        width: 80%;
      }
    }

    .resetCatalogue {
      color: #2e2e9f;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .orderOnOOSContainer {
    .header {
      margin-bottom: 10px;
    }
    .descriptionContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .description {
        width: 80%;
      }
    }

    .resetCatalogue {
      color: #2e2e9f;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
