#smallImageLoader {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #1b212b;

  .errorIconContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .errorIcon {
      width: 20px;
      height: 20px;
      fill: #d24b4b;
    }
  }

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .smallBg {
      background-size: cover;
      background-position: center center;
      height: 50px;
      width: 50px;
    }

    .smallImage {
      width: 0;
      opacity: 0;
    }
  }

  .absolutePosition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .uploadingImageContainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 7px;
    flex-direction: column;

    .uploadingImage {
      width: 25px;
      height: 22px;
      margin-bottom: 3px;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .imageAspectRatio {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
