.catalogueTagsMenu {
  &:focus {
    outline: none;
  }

  .tagsMenuButtonContainer {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: transparent;


    &:focus {
      outline: none;
    }

    .tagsMenuButton {
      padding: 4px 10px 4px 15px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:focus {
        outline: none;
      }

      .tagsCountContainer {
        margin-right: 5px;
        text-align: left;

        .tagsCount {
          font-size: 16px;
          font-weight: 700;
        }

        .tagsCountLabel {
          margin-top: -2px;
          font-size: 14px;
        }
      }

      .tagsMenuButtonIcon {
        margin-top: -5px;
        background-color: transparent;
        width: 17px;
        height: 17px;
      }

      .tagsMenuButtonIconHidden {
        display: none;
      }

      .tagsMenuButtonIconFilled {
        display: none;
      }

      .tagsMenuButtonIconVisible {
        display: block;
      }

      &:hover {
        .tagsMenuButtonIconNormal {
          display: none;
        }

        .tagsMenuButtonIconFilled {
          display: block;
        }
      }
    }
  }
}
