#selectedFieldContainer {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  > div {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 32px;
    font-family: monospace;
    padding-bottom: 10px;
    min-height: 38px;
  }
}
