@import '~qs-assets/Colors.scss';

#UploadImagesHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0e141b;
  color: $header-color;
  z-index: 4;

  .uploadingPictures {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
  }

  .picturesRemaining {
    font-size: 12px;
  }

  .progressBarContainer {
    background-color: white;
    height: 3px;
    width: 92%;
    margin-bottom: 4px;
    border-radius: 4px;

    .progressBar {
      background-color: $header-color;
      height: 100%;
    }
  }
}
