.renderSingleOrder {
  padding: 15px 22px 0px 22px;
  display: flex;
  flex: 1;
  min-height: 91px;
}

.bgColorOrderContactScreen {
  background-color: #0f151d;
  /* background-color: red; */
}

.renderSingleOrder:hover {
  background-color: #0f151d;
  cursor: pointer;
}

.renderSingleOrder .spacer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 1px solid #414558;
}

.selectedContact {
  background-color: red;
}

.detailsContainer .pNumberContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
}

.detailsContainer .phoneNumber {
  color: #9098AD;
  font-size: 13px;
  font-weight: bold;
}

.spacer .leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftContainer .checkboxContainer {
  margin: 0px 15px 0px 5px;
}

.spacer .leftContainer .detailsContainer {
  display: flex;
  flex-direction: column;
}

.detailsContainer .checkboxContainer .checkbox {
  background-color: white;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid red;
}

.pNumberContainer .nameContainer {
  display: flex;
  flex-direction: row;
}

.pNumberContainer .nameContainer .name {
  color: white;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.pNumberContainer .rowLoaderContainer {
  display: flex;
  align-self: flex-start;
}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}

.dateTimeContainer .time {
  color: #9098AD;
  margin-right: 9px;
}

.dateTimeContainer .separator {
  background-color: white;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  margin-right: 9px;
  margin-top: 2px;
}

.dateTimeContainer .date {
  color: #9098AD;
}

.renderSingleOrder .rightContainer {
  font-size: 13px;
}

.spacer .leftContainer .visibleCheckboxContainer {
  display: block;
}

.spacer .leftContainer .invisibleCheckboxContainer {
  display: none;
}

.renderSingleOrder:hover .spacer .leftContainer .invisibleCheckboxContainer {
  display: block;
}

.rightContainer .noOfNew {
  background-color: #CD4040;
  padding: 5px 9px;
  border-radius: 20px;
  color: white;
  margin-bottom: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer .itemNumber {
  color: white;
  font-size: 15px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
