@import "~qs-assets/Colors.scss";

.selectedCatalogue {
  background-color: #090c10 !important;
}

.catalogueRow {
  background-color: $catalogue-screen-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  color: #dae2ed;
  border-bottom: 1px solid #1e2029;

  &:hover {
    background-color: #0e141b;
    color: #fff;
    cursor: pointer;

    .leftContainer {
      .titleCountContainer {
        .titleContainer {
          .titleEditIcon {
            visibility: visible;
          }
        }
      }
    }
  }

  .leftContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    overflow: hidden;

    .checkbox {
      margin-right: 10px;
    }

    .titleCountContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
    }

    .editIcon {
      width: 19px;
      height: 19px;
      fill: $primary-color;
      margin-right: 5px;
      visibility: hidden;
    }
  }

  .rightContainer {

    .deleteIcon {
      width: 20px;
      height: 20px;
      fill: $primary-color;
      display: flex;
      align-self: flex-end;
      margin-right: 10px;

      &:hover {
        fill: $header-color;
        cursor: pointer;
      }
    }
  }
}
