@import "~qs-assets/Colors.scss";

#MultiShareFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: $primary-color;
  color: $header-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .shareCount {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
