@import "../../../../../Assets/Colors";

#SearchProductHeader {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  .searchProductContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #212936;

    .leftContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      align-self: stretch;

      .backIcon {
        width: 22px;
        height: 22px;
        fill: $primary-color;
        margin-right: 6px;
        margin-left: 9px;

        &:hover {
          cursor: pointer;
          fill: $header-color;
        }
      }

      .productSearch {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 70%;
        background-color: #19222e;
        align-items: center;
        border-radius: 25px;
        padding-right: 10px;

        .inputBox {
          display: flex;
          flex: 1;
          border: none;
          outline: none;
          background-color: transparent;
          color: $primary-color;
          padding: 0px 5px 0px 20px;
          font-size: 18px;
          min-height: 50px;

          &::placeholder {
            color: #424f61
          }
        }

        .closeIcon {
          width: 24px;
          height: 24px;
          fill: white;
          margin-left: 10px;

          &:hover {
            fill: $header-color;
            cursor: pointer;
          }
        }
      }
    }

    .rightContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      align-self: stretch;

      .funnelIcon {
        width: 25px;
        height: 25px;
        fill: $primary-color;

        &:hover {
          fill: $header-color;
          cursor: pointer;
        }
      }
    }

  }

}
