#PriceContainer {
  display: flex;
  width: 41%;
  margin-right: 28px;

  .rowContainer .priceInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .currencySymbol {
      margin-top: 5px;
      margin-right: 7px;
    }
  }

  .reducedWidth {
    width: 40%;
  }
}
