.contactOrderHeaderContainer {
  display: flex;
  flex-direction: row;
  background-color: #0F141A;
  padding: 10px;
  height: 43px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contactOrderHeaderContainer .contactOrderHeader {
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  /* justify-content: center;
  align-items: flex-start; */
  background-color: transparent;
}

.contactOrderHeader .title {
  color: white;
  padding-bottom: 4px;
  font-size: 17px;
}

.contactOrderHeaderContainer .noOfBaskets {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}

.contactOrderHeaderContainer .contactScreenLoader {
  display: flex;
  align-self: center;
  margin-right: 10px;
}