.virtualizedList {
  &:focus {
    outline: none !important;
  }
}

#mainProductList {
  height: 100%;
}

.AutoSizerContainer {
  flex: 1 1 auto;
}

#productListLoaderContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
