/* Code has been copy pasted from production and modification have been made as required */

.CatalogueSettingsContainer {
  position: absolute;
  top: 50px;
  right: 0px;
  left: 22px;
  width: 90%;
  z-index: 100;
  padding: 25px 0;
  color: #000;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  min-height: 300px;
  max-height: calc(100vh - 160px);
  overflow: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.CatalogueSettingsContainer .loaderStyle {
  width: 50px;
  height: 50px;
  position: absolute;
  margintop: -20px;
  alignself: center;
}

.CatalogueSettingsContainer .visibilityStyle {
  display: flex;
  width: 100%;
  height: 100%;
}

.visibilityStyle .CatalogueSettingLinkWrapper {
  padding: 0 25px;
}

.visibilityStyle .loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CatalogueSettingsCreateLink .genratingLinkLoaderStyle {
  width: 50px;
  height: 50px;
}

.CatalogueSettingLinkContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.CatalogueLinkLabel {
  font-size: 16px;
  color: #4da47a;
  font-weight: 800;
  margin-bottom: 4px;
}

.CatalogueLink {
  font-size: 12px;
  color: #666;
}
.CatalogueSettingHeader {
  display: flex;
  justify-content: flex-end;
}

.CatalogueSettingHeader button {
  cursor: pointer;
}

.CatalogueSettingsCreateLink {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.CatalogueSettingsCreateLink > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px dashed #4da47a;
  padding: 50px;
  margin: 25px;
}
.CatalogueSettingsCreateLink > div .CatalogueCreateLink {
  cursor: pointer;
  background-color: #4da47a;
  padding: 10px;
  width: 90%;
  color: white;
  font-size: 14px;
  text-align: center;
}

.CatalogueSettingsCreateLink > div p {
  margin-top: 10px;
  font-size: 12px;
  color: #4da47a;
  text-align: center;
}

.resetInventoryModalContainer .header {
  margin-bottom: 10px;
  font-weight: bold;
}

.resetInventoryModalContainer .title {
  margin-bottom: 22px;
}

.resetInventoryModalContainer .buttonCotnainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resetInventoryModalContainer .buttonCotnainer .cancelButton {
  font-size: 16px;
  color: #ff4646;
}

.resetInventoryModalContainer .buttonCotnainer .acceptButton {
  font-size: 16px;
  color: #606060;
}

.resetInventoryModalContainer .buttonCotnainer .cancelButton:hover {
  cursor: pointer;
}

.resetInventoryModalContainer .buttonCotnainer .acceptButton:hover {
  cursor: pointer;
}
