@import "~qs-assets/Colors";

#Navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  #screenWrapper {
    display: flex;

    .authNotReady {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: $catalogue-screen-background;
      align-self: stretch;
    }
  }

  .showBars {
    height: calc(100vh - 53px);
    width: calc(100vw - 51px);
    margin-left: 51px;
    margin-top: 53px;
  }

  .hideBars {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
