#NoCatalogueSelected {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #232b36;
  color: #384759;
  text-align: center;
  font-size: 20px;
  padding: 0 20px;
}
