#NavBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #0f141a;
  width: 100%;
  min-height: 52px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  border-bottom: 1px solid #000;

  #NavBar {
    display: flex;
    flex-direction: row;
    flex: 1;

    #ourCompanyName {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      padding-left: 50px;
    }

    .companyName {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    .userNameContainer {
      padding-right: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;

      .userName {
      }

      .settingsGear {
        width: 25px;
        height: 25px;
        margin-left: 17px;
        margin-top: 6px;
        fill: white;

        &:hover {
          fill: rgba(255, 255, 255, 0.8);
          cursor: pointer;
        }
      }
    }
  }
}
