#ProductDescription {
  margin-top: 10px;

  .textAreaContainer {
    position: relative;

    .description {
      background-color: transparent;
      border: none;
      margin-top: 10px;
      font-size: 22px;
      width: 97%;
      resize: none;
      border-bottom: 2px solid rgba(0,0,0,0.1);

      &:focus {
        border-bottom: 2px solid #131a23;
        outline: none;
      }
    }

    .restrictWidth {
      width: 77%;
    }

    .saveButton {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 8px 13px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        border: 1px solid #131a23;
        border-radius: 20px;
      }
    }
  }
}
