#shareOptions {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 500;

  .option {
    margin-right: 10px;
    cursor: pointer;

    .iconContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;

      .icon {
        width: 30px;
        height: 30px;
      }

      .brochureIcon {
        width: 28px;
        height: 28px;
        margin-top: 2px;
      }

      .pdfIcon {
        width: 28px;
        height: 28px;
        margin-bottom: 8px;
        margin-top: 3px;
      }

      .facebook {
        width: 36px;
        height: 36px;
        margin-bottom: 3px;
      }

      .emailIcon {
        margin-bottom: 6px;
        margin-top: 3px;
      }

    }
  }

  .firstOption {
    padding-left: 20px;
  }

  .lastOption {
    padding-right: 20px;
  }
}
