.columnNameContainer {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .columnName {
    border: 1px dashed #393939;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 0px 10px 5px 0px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .selectedColumnName {
    background-color: #393939 !important;
    color: white !important;
  }
}
