#CSVUploaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  #CSVUploader {
    background-color: white;
    width: 750px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 10;

    .loaderContainer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
  }
}
