@import "~qs-assets/Colors";

#ProductDetailsHeader {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  z-index: 3;

  .setAsDefault {
    color: white;
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: $header-color;
    }
  }

  .headerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }

  .trashIcon {
    width: 20px;
    height: 20px;
    fill: white;

    &:hover {
      fill: $header-color;
      cursor: pointer;
    }
  }

  .productDetailsSaveButton {
    margin: 0px 0px 0px 18px;
    cursor: pointer;
    color: #fff;
    padding: 6px 20px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.42);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.42);
    border-radius: 4px;
    text-shadow: 0 -1px #1e5f3f;
    text-transform: uppercase;
    font-size: 14px;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#2a714e),to(#50b182));
    background-image: -webkit-linear-gradient(bottom,#2a714e,#50b182);
    background-image: -o-linear-gradient(bottom,#2a714e 0,#50b182 100%);
    background-image: linear-gradient(0deg,#2a714e,#50b182);

    &:hover {
      background-image: linear-gradient(0deg,#3c8964,#a6ffd4);
    }
  }

  .deleteContainer {
    position: absolute;
    top: 44px;
    white-space: nowrap;
    right: 10px;
    background-color: white;
    box-shadow: 0px 2px 19px #000000;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    .deleteImage {
      font-size: 16px;
      align-self: flex-start;
      text-align: left;
      padding: 18px 18px 18px 15px;
      background-color: transparent;

      &:hover {
        background-color: #eee;
      }
    }

    .separator {
      width: 100%;
    }

    .deleteProduct {
      width: 100%;
      color: #ff0000;
      font-size: 16px;
      text-align: left;
      background-color: transparent;
      padding: 18px 18px 18px 15px;

      &:hover {
        background-color: #eee;
      }
    }

  }
}

//#ProductDetailsHeaderRight {
//  position: absolute;
//  top: 0;
//}
