#CatalogueSearchResult {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: white;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}
