.ImageUploaderOption {
  position: fixed;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  color: black;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 1) 100%);
  box-shadow: 0px 0px 50px 10px #0e141b;
  border-radius: 8px;
  min-height: 300px;
  z-index: 15;
  padding: 15px;
}

.ImageUploaderOption .headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ImageUploaderOption .headerContainer {
  letter-spacing: 1px;
  font-size: 20px;
  margin: 7px 0 30px;
}

.ImageUploaderOption header h3 {
  letter-spacing: 1px;
  font-size: 24px;
  margin: 20px 0 30px;
}
.ImageUploaderOption header p {
  font-weight: 300;
  font-size: 20px;
}

.ImageUploaderOption .CloseCancelUpload {
  color: red;
  font-size: 14px;
  display: flex;
  align-self: flex-end;
}

.ImageUploaderOption .CloseCancelUpload:hover {
  cursor: pointer;
}

.ImageUploaderOption .ImageUploaderOptionContent {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ImageUploaderOption .ImageUploaderFileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 170px;
}

.ImageUploaderOption .UploadFilesBtn {
  border: 1px solid #57dd9c;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 5px;
}

.ImageUploaderOption .UploadFilesBtn img {
  transition: transform 0.2s;
  margin-left: 10px;
}

.ImageUploaderOption .UploadFilesBtn:hover {
  background: #e0fde0;
}
.ImageUploaderOption .UploadFilesBtn:hover img {
  transform: translateX(5px);
}

.ImageUploaderOption
.ImageUploaderOptionContent
.ImageUploaderOptionContentRight {
  padding-left: 24px;
}

.ImageUploaderOption
.ImageUploaderOptionContent
.ImageUploaderOptionContentRight
.SelectedFileUploadText {
  margin: 10px 0 5px;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
}

.ImageUploaderOption
.ImageUploaderOptionContent
.ImageUploaderOptionContentRight
.ImageUploaderOptionContentRightImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageUploaderOption
  .ImageUploaderOptionContent
  .ImageUploaderOptionContentRight
  .ImageUploaderOptionContentRightImage
  div {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.ImageUploaderOptionContent .imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ImageUploaderOptionContent .imageContainer > img {
  height: 100px;
  width: 100px;
}

.ImageUploaderOption .ImageUploaderOptionContent .custom-select {
  border: 1px solid #57dd9c;
  border-radius: 3px;
  position: relative;
  border-right: none;
  width: calc(100% - 60px);
  align-items: center;
  display: flex;
  align-self: center;
  background-image: no-repeat ;
}
.ImageUploaderOption .ImageUploaderOptionContent .custom-select select {
  padding: 12px;
  border: none;
  font-size: 14px;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
}
.ImageUploaderOption .ImageUploaderOptionContent .custom-select select:focus {
  outline: none;
}

.custom-select-right-arrow {
  position: absolute;
  border: 1px solid #57dd9c;
  padding: 14px;
  right: -14px;
  top: 6px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.ImageUploaderOption .arrowContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 40%;
}

.ImageUploaderOption .arrowContainer .rightArrowContainer {
  display: flex;
  align-self: center;
}

.ImageUploaderOption .uploadImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageUploaderOption .uploadImagesContainer .UploadFilesBtn {
  display: flex;
}
