.catalogueTagsModal {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  .header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;

    .headerLeft {
      display: flex;
      flex-direction: row;
      align-items: center;

      .headerIcon {
        width: 20px;
        height: 20px;
      }

      .headerText {
        margin-left: 15px;
        font-size: 18px;
        color: #000;
        font-weight: 700;
      }
    }

    .headerRight {
      display: flex;
      flex-direction: row;
      align-items: center;

      .helpButton {
        padding: 5px;
        margin-right: 10px;
        background-color: transparent;
        border: none;

        .helpButtonIcon {
          width: 25px;
          height: 25px;
        }
      }

      .closeButton {
        padding: 5px;
        background-color: transparent;
        border: none;

        .closeButtonIcon {
          width: 25px;
          height: 25px;
        }

        &:hover {
          .closeButtonIcon {
            fill: #000;
          }
        }
      }
    }
  }

  .content {
    background-color: rgba(236, 246, 238, 0.65);
    overflow: auto;
    padding-bottom: 10px;

    .tagsList {
    }
  }
}

.activeCatalogueTagSortRow {
  z-index: 1001;
  background-color: rgba(227, 237, 229, 0.65);
}
