.ProductImage {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 50px;
}

.ProductImageLoaderContainer {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
}

.nonBlurredImage {
  z-index: 1;
}

.blurredImage {
  filter: blur(39px);
  position: absolute;
  top: -40px;
  //filter: blur(60px);
  //position: absolute;
  //top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#multipleProductSelectedImages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .selectedItemsHeader {
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #0f141a;
    width: 100%;
    display: flex;
  }

  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .bulkImageContainer {
      position: relative;
      margin: 6px;

      .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .bulkBlurredImage {
        filter: blur(40px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .nonBlurredBulkImage {
        z-index: 2;
        position: relative;
        border-radius: 6px;
      }
    }
  }

  .image {
    width: 90px;
    height: 90px;
    margin: 1px;
  }

  .imageAspectRatio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
