#BasicInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
  padding-top: 10px;
}

.rowContainer {
  color: #131a23;
  padding-top: 20px;
  display: flex;
  align-self: stretch;
  flex-direction: column;

  .rowHeading {
    font-size: 15px;
    font-weight: 600;
  }

  .inputContainer {
    height: 45px;
    margin-top: 5px;
    padding-right: 5px;
    position: relative;

    .saveButton {
      position: absolute;
      top: 4px;
      right: 10px;
      padding: 8px 17px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        border: 1px solid #131a23;
        border-radius: 20px;
      }
    }

    .input {
      background-color: transparent;
      border-bottom: 2px solid rgba(0,0,0,.1);

      width: 100%;
      height: 100%;
      font-size: 22px;

      &:focus {
        border-bottom: 2px solid #131a23;
      }

    }
  }
}
