.catalogueTagRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;

  .visibleButton {
    padding: 5px;
    background-color: transparent;
    border: none;

    .visibleButtonIcon {
      width: 30px;
      height: 30px;
    }
  }

  .tagContainer {
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tag {
      background-color: #fff;
      border-radius: 20px;
      padding: 10px 15px;
      box-shadow: 0 2px 4px rgba(203, 203, 203, 0.5);

      .tagStrikethrough {
        text-decoration: line-through;
      }

      .tagText {
        font-size: 16px;
        color: #000;
        font-weight: 800;
      }
    }
  }

  .reorderIconContainer {
    padding: 0 10px;
    cursor: pointer;

    .reorderIcon {
      width: 25px;
      height: 25px;
    }

    &:hover {
      .reorderIcon {
        fill: #729D7D;
      }
    }
  }
}
