.commonTitleContainer {
  display: flex;
  flex: initial;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 35px;

  .title {
  }
}

.titleContainer {

  .catalogueTitle {
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    line-height: 1.2em;
    text-overflow: ellipsis;
    max-width: 80%;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }

  .titleEditIcon {
    width: 30px;
    height: 20px;
    fill: white;
    visibility: hidden;
    margin: 0px 5px 0px 0px;
  }
}

.catalogueEditTitle {
  color: #dae2ed;

  input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: #dae2ed;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
    width: 45%;
  }

  .closeIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .closeIcon {
      fill: white;
      width: 25px;
      height: 25px;
      margin-right: 20px;
    }
  }

  .saveButton {
    border: 1px solid #dae2ed;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-self: flex-end;
  }
}
