@import '~qs-assets/Colors';

.catalogueRowLoaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogueProducts {
  position: relative;
  width: 73px;
  height: 73px;
  margin-right: 22px;

  .imageContainer {
    position: absolute;

    .loaderImageContainer {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 1px solid white;
      background-color: #131a24;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .actualImageContainer {
        position: relative;

        .image {
          position: absolute;
          width: 0;
          height: 0;
          opacity: 0;
        }

        .actualImage {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 38px;
          width: 38px;
          z-index: 1;
        }
      }
    }

    .loaderContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    .dashed-border {
      border: 1px dashed white;
    }
  }

  .firstImageCatalogueRow {
    z-index: 4;
  }

  .secondImageCatalogueRow {
    left: 30px;
    z-index: 3;
  }

  .thirdImageCatalogueRow {
    top: 30px;
    z-index: 2;
  }

  .fourthImageCatalogueRow {
    left: 30px;
    top: 30px;
    z-index: 1;
  }
}
