#catalogueSearchResult {
  color: white;
  padding: 15px;
  border-bottom: 1px solid #151c24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .clearFilterContainer {
    background-color: white;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 9px;
    border-radius: 14px;
    white-space: nowrap;
  }
}
