#UploaderContainer {
  display: flex;
  flex-direction: column;
  //flex: 1;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  // This is a hack
  width: 95%;
  height: 92%;

  #UploaderHeaderContainer {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    padding-bottom: 40px;
    color: #232b36;
    min-height: 38px;

    .leftContainer {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: flex-start;
      align-self: center;

      .backButton {
        border: 1px solid #000;
        padding: 9px 25px;
        border-radius: 100px;
        cursor: pointer;
        text-transform: uppercase;
        margin-right: 10px;
      }

      .cancelUpload {
        align-items: center;
        color: red;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        &:hover {
          cursor: pointer;
        }
      }

    }

    .uploaderTitle {
      display: flex;
      flex: 1;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      justify-content: center;
      align-items: center;
    }

    .rightContainer {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;
      align-self: center;

      .skip {
        letter-spacing: 2px;
        cursor: pointer;
        justify-content: center;
        align-self: center;
        text-transform: uppercase;
      }

      .upload {
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .nextButton {
        border: 1px solid #000;
        padding: 9px 25px;
        border-radius: 100px;
        cursor: pointer;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }
  }

  .scrollableContainer {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .uploadedProductCount {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 25px;
    }

    .componentTitle {
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .titleMatchesContainer {
      text-align: center;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .fieldsInstructionLabel {
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      margin-top: 28px;
    }
  }
}
