.dropZone {
  position : absolute;
  left : 0px;
  top : 0px;
  right : 0px;
  bottom : 10px;
  background-color : rgba(10,15,21, 0.9);
  border : 3px solid #57DD9C;
  box-shadow : 0px 0px 90px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 3px;

  > div {
    animation: fade 2s linear infinite;
    color: white;
  }
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
