#ProductListScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #222a36;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none !important;
  }

  .DropZone {
    position : absolute;
    left : 0px;
    top : 0px;
    right : 0px;
    bottom : 5px;
    background-color : rgba(10,15,21, 0.9);
    z-index: 100;
    border : 3px solid #57DD9C;
    box-shadow : 0px 0px 90px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 3px;
    opacity: 1;

    span {
      animation: fade 2.5s linear infinite;
      color: white;
    }
  }
}
