@import "~qs-assets/Colors";

#CatalogueListHeader {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  background-color: #0f141a;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;

  .catalogueCount {
    color: #dae2ed;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .options {
    display: flex;
    flex-direction: row;

    .icon {
      width: 20px;
      height: 20px;
      fill: white;

      &:hover {
        fill: #57dd9c;
        cursor: pointer;
      }
    }

    .closeIcon {
      width: 25px;
      height: 25px;
      margin-right: -5px;
      margin-top: -4px;
    }

    #searchIcon {
    }

    #editIcon {
      margin-left: 10px;
    }

    .createNewCatalogue {
      fill: $header-color;
    }
  }
}
