@import '~qs-assets/Colors.scss';

#UploadProductHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #0e141b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $header-color;

  .uploadingPictures {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
  }

  .picturesRemaining {
    font-size: 12px;
  }

  .progressBarContainer {
    background-color: white;
    height: 3px;
    width: 95%;
    margin-bottom: 4px;
    border-radius: 4px;

    .progressBar {
      background-color: $header-color;
      height: 100%;
    }
  }
}
