.emptyList {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #748499;
  font-size: 20px;
  padding: 0px 65px;
}

.loaderContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sectionHeader {
  color: #8DF0C1;
  padding: 22px 10px 10px 22px;
  font-size: 20px;
}

.AutoSizerList :focus {
  outline: none;
}