#ProductRowShimmer {
  position: relative;
  display: flex;
  height: 100%;

  #pictureUrl {
    position: absolute;
    top: 22%;
    left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #1b212b;
  }

  #productName {
    position: absolute;
    top: 29%;
    left: 83px;
    width: 95px;
    height: 13px;
    background-color: #1b212b;
    border-radius: 3px;
  }

  #productDescription {
    position: absolute;
    top: 53%;
    left: 83px;
    width: 120px;
    height: 18px;
    background-color: #1b212b;
    border-radius: 3px;
  }

  #productPrice {
    position: absolute;
    top: 38%;
    right: 30px;
    width: 35px;
    height: 14px;
    background-color: #1b212b;
    border-radius: 3px;
  }

}
