.catalogueTagHelpContainer {
  padding: 5px 20px 10px 20px;
  background-color: #fff;

  .helpItem {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .helpItemIconContainer {
      min-width: 25px;

      .helpInfoIcon {
        width: 20px;
        height: 20px;
      }

      .helpEyeIcon {
        width: 22px;
        height: 22px;
        margin-top: -2px;
      }

      .helpDragIcon {
        width: 22px;
        height: 22px;
      }
    }

    .helpItemTextContainer {
      padding: 0 20px;

      .helpItemText {
        font-size: 14px;
        color: #000;
      }
    }
  }

  .dismissHelpContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dismissButton {
      cursor: pointer;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .dismissIcon {
        margin-top: 2px;
        width: 25px;
        height: 25px;
      }

      .dismissText {
        position: relative;
        top: 1px;
        margin-left: 10px;
        font-size: 16px;
        color: #000;
      }
    }
  }
}
