.CheckBox{
  font-size: 20px;
}
.CheckBoxContainer {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CheckBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.Checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 2px;
}

.CheckBoxContainer:hover input ~ .Checkmark {
  background-color: #ccc;
}

.CheckBoxContainer input:checked ~ .Checkmark {
  background-color: #57DD9C;
}

.Checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.CheckBoxContainer input:checked ~ .Checkmark:after {
  display: block;
}

.CheckBoxContainer .Checkmark:after {
  left: 5px;
  top: 1.2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
