@import '~qs-assets/Colors.scss';

#SearchHeader {
  display: flex;
  flex-direction: row;
  background-color: #131a23;
  padding: 5px 20px;
  align-items: center;
  height: 50px;


  #backIcon {
    min-width: 20px;
    min-height: 20px;
    fill: $primary-color;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      fill: $header-color;
    }
  }

  #searchBar {
    background-color: #19222e;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    padding: 7px 20px;


    &:hover {
      background-color: #202c3b;
      cursor: pointer;
    }


    #searchInputBox {
      background: transparent;
      outline: none;
      border: none;
      color: #fff;
      font-size: 18px;
      width: 100%;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #424f61;
      }
      &:hover::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #45566C;
      }

      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #424f61;
        opacity:  1;
      }
      &:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #45566C;
      }

      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #424f61;
        opacity:  1;
      }
      &:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #45566C;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #424f61;
      }
      &:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #45566C;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color:    #424f61;
      }
      &:hover::-ms-input-placeholder { /* Microsoft Edge */
        color:    #45566C;
      }

      &::placeholder { /* Most modern browsers support this now. */
        color:    #424f61;
      }
      &:hover::placeholder { /* Most modern browsers support this now. */
        color:    #45566C;
      }
    }

    .clearIcon {
      width: 20px;
      height: 20px;
      fill: $primary-color;
      margin-left: 8px;

      &:hover {
        cursor: pointer;
        fill: $header-color;
      }
    }
  }
}
