#LoginFailedContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .LoginFailed {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 19px;
    max-width: 370px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;

    .title {
      margin-top: 12px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 32px;
    }

    .closeIconContainer {
      position: absolute;
      top: 8px;
      right: 11px;

      .closeIcon {
        fill: black;
        width: 22px;
        height: 22px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .description {
      font-size: 18px;
      text-align: center;
      margin: 0px 10px 24px 10px;
    }

    .contactSupport {
      color: rgba(0,0,0,0.8);
      padding: 8px 12px;
      border-radius: 3px;
      text-decoration: none;
      letter-spacing: .5px;
      font-weight: 500;
      font-size: 14px;
      margin-right: 15px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      min-width: 100px;
    }

  }
}
