.customList {
  .customListItem {
    display: flex;
    flex-direction: row;
  }

  .customListItemHorizontal {
    flex-direction: row;
  }

  .customListItemVertical {
    flex-direction: column;
  }
}
