#BottomSheetContainer {
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 20px;
  z-index: 2;

  #BottomSheet {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.5) 0, hsla(0, 0%, 100%, 0.8));
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 30px 30px 20px 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0.8));
    }
  }

  .bulkBackgroundColor {
    background: white !important;
    padding-top: 0px !important;
  }
}
