.ShareCataloguePopupBody {
  border: 1px dashed #4DA47A;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 11px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}

.ShareCataloguePopupBody .CatalogueLinkText {
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.ShareCataloguePopupBody .TapToCopyBtn {
  font-size: 14px;
  color: #4DA47A;
}
.ShareCataloguePopupBody .TapToCopyBtn:hover {
  opacity: 0.8;
}

.ShareCataloguePopupFooter {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.ShareCataloguePopupFooter  .shareType {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ShareCataloguePopupFooter  .shareType img {
  width: 30px;
  height: 30px;
}
