#BottomSheetHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #131a23;

  .option {
    margin-right: 17px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    padding: 0 0 6px;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .activeTab {
    border-bottom: 1px solid black;
    font-weight: bold;
  }
}
