.catalogueTagsSelector {
  padding-top: 10px;
  min-height: 43px;
  background-color: #232b36;
  position: relative;
  padding-bottom: 10px;

  .tagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .editButtonContainer {
      position: absolute;
      left: 0;
      top: 10px;
      display: flex;
      align-items: center;

      .editButton {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fff;
        padding: 7px 15px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .removeLeftMargin {
      padding-left: 0px !important;
    }

    .tagsList {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 55px;

      &::-webkit-scrollbar {
        display: none;
      }

      .tagSeparator {
        width: 10px;
      }

      .tag {
        background-color: #181f27;
        border-radius: 20px;
        padding: 10px 15px;
        border: 1px solid #1d242e;
        white-space: nowrap;
        cursor: pointer;

        .tagText {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }

        .inactiveTagText {
          color: #404a5b;
        }
      }

      .tagNotVisible {
        border: none !important;
        cursor: auto !important;
      }

      .tag:hover {
        border-color: #fff;
      }

      .selectedTag {
        border-color: #fff;
        background-color: #fff;

        .tagText {
          color: #000;
        }
      }
    }
  }

  .clearSelectedContainer {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .clearSelectedButton {
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        .clearSelectedText {
          text-decoration: underline;
        }
      }

      .clearSelectedText {
        font-size: 15px;
        color: #4fddff;
      }
    }
  }
}
