@import '~qs-assets/Colors';

.productRowSelected {
  background-color: #131820 !important;
}

.ProductRow {
  transform: translateZ(0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 15px 25px;
  font-size: 18px;
  flex: 1;
  overflow: hidden;
  background-color: #222a36;

  &:hover {
    cursor: pointer;
    background-color: #192029;
    color: #fff;
  }

  .leftContainer {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    .checkbox {
      margin-right: 10px;
    }

    .productImageContainer {
      margin-right: 20px;
      display: flex;
      overflow: hidden;

      .productImage {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: #1b212b;
      }

      .imageAspectRatio {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .titleContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;

      .title {
        font-weight: 600;
        margin-bottom: 3px;
      }

      .description {
        font-size: 16px;
      }
      .outOfStock {
        border: 1px solid #ff1717;
        border-radius: 4px;
        padding: 4px 5px;
        background-color: #7a0c0c;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 10px;
        margin-top: 7px;
        text-transform: uppercase;
      }
    }
  }

  .rightContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    .deleteContainer {
      margin-left: 10px;
      cursor: pointer;

      .deleteIcon {
        fill: white;
        width: 20px;
        height: 20px;

        &:hover {
          fill: $header-color;
          cursor: pointer;
        }
      }
    }

    .editModeWidth {
      width: 63%;
    }

    .nonEditModeWidth {
      width: 90%;
    }

    .priceAndDiscountContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      overflow: hidden;
      text-align: end;

      .price {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }

      .discount {
        width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .discountAvailable {
        margin-bottom: 7px;
        text-decoration: line-through;
      }
    }
  }
}
