#ProductDiscount {
  display: flex;
  width: 50%;

  .discountButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .disableDiscountButton {
      border-color: #818181 !important;
      background-color: transparent !important;
      color: #818181 !important;

      &:hover {
        cursor: not-allowed;
      }
    }

    .discountButton {
      border: 1px solid black;
      border-radius: 30px;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-self: center;
      background-color: transparent;
      margin-top: 25px;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .discountInputContainer {

    .rowContainer .discountContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .symbolContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: center;
        margin-top: 5px;
        margin-right: 7px;
      }

      .deleteDiscountContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.4);
        max-width: 28px;
        border-radius: 50%;
        padding: 2px;

        &:hover {
          background-color: rgba(0,0,0,.8);
          cursor: pointer;
        }

        .deleteDiscountIcon {
          width: 15px;
          height: 15px;
          fill: white;
        }
      }
    }

    .discountInPercent {
      position: absolute;
      top: 55px;
      background-color: transparent;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      padding-bottom: 2px;
      border-bottom: 2px dotted #0645ad;
      font-family: sans-serif;
      color: #0645ad;
      align-self: flex-start;
      width: fit-content;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
