#ShimmerContainer {
  height: 114px;

  .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #333F51;
    border: 1px solid white;
  }

  .circle1 {
    left: 20px;
    top: 30px
  }

  .circle2 {
    left: 50px;
    top: 30px;
  }

  .circle3 {
    left: 20px;
    top: 60px;
  }

  .circle4 {
    left: 50px;
    top: 60px;
  }

  .react {
    position: absolute;
    background-color: #333F51;
  }

  .titleRect {
    width: 140px;
    height: 14px;
    top: 45px;
    left: 120px;
  }

  .productCountRect {
    width: 100px;
    height: 12px;
    top: 74px;
    left: 120px;
  }
}
