#InquiriesPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: red;
  //justify-content: center;
  //align-items: center;
  font-size: 20px;
  font-weight: bold;
}
